@import 'tailwindcss';

@theme {
    --color-primary-50: #f0f9ff;
    --color-primary-100: #e0f2fe;
    --color-primary-200: #bae6fd;
    --color-primary-300: #7dd3fc;
    --color-primary-400: #38bdf8;
    --color-primary-500: #0ea5e9;
    --color-primary-600: #0284c7;
    --color-primary-700: #0369a1;
    --color-primary-800: #075985;
    --color-primary-900: #0c4a6e;
    --color-primary-950: #082f49;

    --color-secondary-50: #f5f3ff;
    --color-secondary-100: #ede9fe;
    --color-secondary-200: #ddd6fe;
    --color-secondary-300: #c4b5fd;
    --color-secondary-400: #a78bfa;
    --color-secondary-500: #8b5cf6;
    --color-secondary-600: #7c3aed;
    --color-secondary-700: #6d28d9;
    --color-secondary-800: #5b21b6;
    --color-secondary-900: #4c1d95;
    --color-secondary-950: #2e1065;

    --color-accent-50: #fff1f2;
    --color-accent-100: #ffe4e6;
    --color-accent-200: #fecdd3;
    --color-accent-300: #fda4af;
    --color-accent-400: #fb7185;
    --color-accent-500: #f43f5e;
    --color-accent-600: #e11d48;
    --color-accent-700: #be123c;
    --color-accent-800: #9f1239;
    --color-accent-900: #881337;
    --color-accent-950: #4c0519;

    /* Fonts */
    --font-sans: 'Inter', sans-serif;
    --font-display: 'Outfit', sans-serif;
}

body {
    /* PINK SCREEN TEST */
    background-color: hotpink !important;
    color: white;
}

#root {
    min-height: 100vh;
}