@import 'tailwindcss';

@theme {
    --color-primary-50: #f0f9ff;
    --color-primary-100: #e0f2fe;
    --color-primary-200: #bae6fd;
    --color-primary-300: #7dd3fc;
    --color-primary-400: #38bdf8;
    --color-primary-500: #0ea5e9;
    --color-primary-600: #0284c7;
    --color-primary-700: #0369a1;
    --color-primary-800: #075985;
    --color-primary-900: #0c4a6e;
    --color-primary-950: #082f49;

    --color-secondary-50: #f5f3ff;
    --color-secondary-100: #ede9fe;
    --color-secondary-200: #ddd6fe;
    --color-secondary-300: #c4b5fd;
    --color-secondary-400: #a78bfa;
    --color-secondary-500: #8b5cf6;
    --color-secondary-600: #7c3aed;
    --color-secondary-700: #6d28d9;
    --color-secondary-800: #5b21b6;
    --color-secondary-900: #4c1d95;
    --color-secondary-950: #2e1065;

    --color-accent-50: #eef2ff;
    --color-accent-100: #e0e7ff;
    --color-accent-200: #c7d2fe;
    --color-accent-300: #a5b4fc;
    --color-accent-400: #818cf8;
    --color-accent-500: #6366f1;
    --color-accent-600: #4f46e5;
    --color-accent-700: #4338ca;
    --color-accent-800: #3730a3;
    --color-accent-900: #312e81;
    --color-accent-950: #1e1b4b;

    /* Fonts */
    --font-sans: 'Inter', sans-serif;
    --font-display: 'Outfit', sans-serif;
}

body {
    background-color: #020617;
    /* slate-950 */
    color: #e2e8f0;
    /* slate-200 */
}

#root {
    min-height: 100vh;
}